* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
}

body {
  background-color: #1d1d1d;
}

section {
  max-width: 1600px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view1 .bottom {
  background-color: #343434;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 300;
  opacity: 0.8;
  line-height: 1.5;
  font-size: 1.5rem;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main section.view2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top, main section.view2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.view2 .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view2 .element small {
  opacity: 0.6;
}
main section.view2 .element h2 {
  font-size: 3rem;
  font-weight: 300;
}
main section.view3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom {
  background-color: #292929;
  border-radius: 0.7rem;
  padding: 1rem;
}
main section.view4 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view4 .bottom {
  background-color: #292929;
  border-radius: 0.7rem;
  padding: 1rem;
}
main section.view5 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}
main section.view5 .card1 {
  background-image: url("images/view6.webp");
}
main section.view5 .card2 {
  background-image: url("images/card2.webp");
}
main section.view5 .card3 {
  background-image: url("images/card3.webp");
}
main section.view5 .card1,
main section.view5 .card2,
main section.view5 .card3 {
  height: 420px;
  border-radius: 12px;
  overflow: hidden;
  width: 420px;
  margin-left: 1rem 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
main section.view5 .card1 .top,
main section.view5 .card2 .top,
main section.view5 .card3 .top {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}
main section.view5 .card1 .top .icon,
main section.view5 .card2 .top .icon,
main section.view5 .card3 .top .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
main section.view5 .card1 .bottom,
main section.view5 .card2 .bottom,
main section.view5 .card3 .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 1rem 1.2rem;
}
main section.view5 .card1 .bottom p,
main section.view5 .card2 .bottom p,
main section.view5 .card3 .bottom p {
  text-transform: uppercase;
  letter-spacing: 1px;
}
main section.view6 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .top {
  width: 100%;
}
main section.view6 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view6 .bottom {
  background-color: #292929;
  border-radius: 0.7rem;
  padding: 1rem;
}
main section.view7 {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
main section.view7 .top,
main section.view7 .bottom {
  flex: 1;
}
main section.view7 .top {
  display: flex;
}
main section.view7 .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.7rem;
}
main section.view7 .bottom {
  background-color: #292929;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
main section.view7 .bottom p {
  opacity: 0.8;
}
main section.view7 .bottom .arrow-btn {
  margin-top: auto;
  background-color: #292929;
  color: white;
  border: 1px solid #444;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
main section.view8 {
  background-color: #cebd63;
  border-radius: 0.7rem;
  padding: 1.5rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
main section.view8 p {
  opacity: 0.8;
  color: #292929;
  font-size: 20px;
}
main section.view8 h1 {
  color: #292929;
  padding: 1rem 1rem;
  font-weight: 10px;
}
main section.view8 .arrow-btn {
  margin-top: 10px;
  background-color: #292929;
  color: white;
  border: 1px solid #444;
  font-size: 15px;
}
main section.view9 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #292929;
  width: 90%;
  padding: 1rem 4rem;
  margin-left: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}
main section.view9 .menu-column {
  display: flex;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}
main section.view9 .menu-column a {
  text-decoration: none;
  color: white;
}
main section.view9 .menu-column h3 {
  font-size: 28px;
  margin-top: 20px;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 1rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view1 .bottom .text p {
    font-size: 1.2rem;
    width: 60%;
  }
  main section.view2 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
    padding: 1rem 4rem;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .text h1 {
    margin-top: 15px;
  }
  main section.view3 .bottom .paragraphs {
    margin-top: 15px;
    display: flex;
    gap: 2rem;
  }
  main section.view3 .bottom .paragraphs p {
    opacity: 0.7;
    font-size: 1rem;
  }
  main section.view4 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view4 .top, main section.view4 .bottom {
    width: 80%;
  }
  main section.view4 .bottom .text p {
    margin-top: 30px;
  }
  main section.view4 .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view4 .paragraphs p {
    opacity: 0.7;
    margin-top: 15px;
    font-size: 1rem;
  }
  main section.view5 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  main section.view5 .card1, main section.view5 .card2, main section.view5 .card3 {
    width: 420px;
  }
  main section.view7 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view7 .top, main section.view7 .bottom {
    width: 80%;
  }
  main section.view7 .bottom p {
    margin-top: 30px;
  }
  main section.view8 {
    display: flex;
    gap: 2rem;
    width: 90%;
    padding: 1rem 4rem;
  }
  main section.view9 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
}