@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red:#d01c28;
  --gray: #2e2e2e;

}

*{
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: "poppins",sans-serif;
}

.hero-btn button{
  all:unset;
  padding:6px 16px;
  background:var(--red);
  height:32px;
  color:white;
  font-weight: 500;
}

.container{
  margin:0 auto;
  max-width:1280px;
  color:black;
}

.container ul{
  padding-left: 250px;
}

nav{
  display:flex;
  justify-content:space-between;
  height:72px;
  align-items:center;
}

nav ul{
  display: flex;
  list-style:none;
  gap:24px;

}

.Navigation-btn button{
  background:var(--red);
  font-size: 20px;
  border:none;
  padding:6px 16px;
 color:white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 550px;
  
}
/*Hero section*/
.hero {
  display:flex;
  align-items:center;
  height:calc(100vh -72px);
  margin-top:50px;
}

.hero-content{
  display:flex;
  flex-direction:column;
  gap:36px;
  
}

.hero h1{
  font-weight: 800;
  line-height:102px;
  font-size: 108px;
  color: #4b3c3d;
  padding-right: 50px;

}

.hero p{
  font-weight: 600;
  color:var(--gray);
  max-width:400px;
  padding-left:100px;
}

.hero-btn{
  display:flex;
  gap:40px;
  padding-left: 85px;
}

.hero-btn button{
  font-size: 24px;
  cursor:pointer;
}

.secondary-btn{
  background:transparent;
  color:var(--gray);
  border:1px solid gray;
}

.shopping p{
  font-size: 14px;
  margin-bottom:8px;
}

.brand-icons{
  display:flex;
  gap:16px;
  padding-left: 200px;
}

/*Menu section*/
/*Menu section 1*/
.menu-section1{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:50px;
    padding:140px 20px;
    max-width:2400px;
    margin:0 auto;
    
}

.menu-left{
    width:30%;
    flex:0 0 320px;
}

.menu-left h1{
  font-size: 3.5rem;
  line-height:1;
  font-weight: 800;
  margin:20px 0;
  color:#2e2e2e;
}

.categorybtn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.categorybtn button {
  background: #d01c28;
  color: white;
  border: none;
  padding: 5px 15px;
  margin-left:15px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}




.menu-right{
    /* width:70%; */
    flex:1;
    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:20px;
}

.description{
  color:#777;
  line-height: 1.7;
  margin:20px 0;
}

/*Menu section 2*/
/* .menu-section2 img{
  width: 90px;
  margin-left: 0px;
} */

.menu-logo{
  width:90px;
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.menu-section2{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:50px;
    padding:150px 20px;
    max-width:2400px;
    margin:0 auto;
    background-color: #000000;
}

.menu2-left{
    width:30%;
    flex:0 0 320px;
}

.menu2-left h1{
  font-size: 3.5rem;
  line-height:1;
  font-weight: 800;
  margin:20px 0;
  color:#fe0000;
}

.small-heading2{
  color:red;
  display:flex;
  flex-direction: row;
  padding-left: 25px;
}

.menu2-right{
    /* width:70%; */
    flex:1;
    display:grid;
    gap:30px;
    align-items: flex-start;
}
.menu2-products{
    position:absolute;
    transition: .3s;
    display:flex;
    gap:20px;
    flex-direction:row;
    margin-left: 230px;
}
.category-menu2{
  background-color: #222;
  padding:12px;
  width:150px;
  height: 330px;
  text-align:left;
  cursor:pointer;
}

.category-menu2 button{
  color: white;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  padding: 11px;
  width: 120px;
  margin-bottom: 8px;
}

.menusecn2{
  width:370px;
  padding-top:35px ;
  position: absolute;
  margin-left:1120px;
    transition: .3s;
}

.description2{
  color:#ffffff;
  line-height: 1.7;
  margin:20px 0;
}
/*Product Card styling*/

.product-card{
    background:#f6f6f6;
    padding:20px;
    border-radius:20px;
    position:relative;
    transition: .3s;
    display:flex;
    flex-direction:column;
}

.product-card:hover{
  transform:translateY(-5px);
}

.product-image{
    width:100%;
    height:300px;
    object-fit:contain;
    display:block;
}

.new-badge{
    position:absolute;

    top:15px;
    left:15px;

    background: #ef4444;
    color:white;

    padding:6px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.card-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .card-footer button{
    width:30px;
    height:30px;
    /* border-radius:70%; */
    border:1px solid #222;
    background: white;
    cursor:pointer;
    color:black;
    font-size: 25px;
    padding:1px;
  }



  /*Video promo section*/
  .video-section{
    position:relative;
    height:850px;
    overflow:hidden;
    margin-bottom: 50px;
    margin-top:50px;
  }

  .promo-video{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  .overlay{
    position:absolute;
    inset:0;
    background: rgba(0,0,0,0.25);

  }

  .video-content{
    position:absolute;
    z-index:2;

    left:50%;
    bottom:40px;
    transform:translateX(-50%);
    text-align:center;
    color:white;
    width:90%;
  }

  .video-content h1{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom:28px;
  }

  .video-content p{
    margin-bottom:22px;
  }

  .video-buttons{
    display:flex;
    justify-content:center;
    gap:12px;

  }

  .video-buttons button{
    border:none;
    border-radius:999px;
    padding:10px 22px;
    cursor:pointer;
    background: #ffffff;
    color:black;
  }

  /*Featured section*/
 .featured-title{
  margin-left: 5px;
  margin-right:1400px; 
  margin-top:50px;
  color:black;/* image align ke hisab se */
}
  
  .featured-section img{
     margin-top:0px;
     margin-bottom:50px;
     width:750px;
     
  }

  /*Trending section */
  .trending-section img{
    width:590px;
    gap:20px;
    padding:20px;
  }
  .trending-title{
    color:black;
    margin-right: 1630px;
    margin-top:50px;

  }

  /*freshdrop*/
  .fresh-drops{
    padding:40px;
  }
  .fresh-drops h2{
    color: black;
    margin-right: 1600px;
  }

  .slider-container{
    position:relative;
  }

  .slider{
    display:flex;
    gap:20px;
    overflow-x:hidden;
    scroll-behavior:smooth;
  }

  .card{
    flex:0 0 350px;
  }
  .card img{
    width:100%;
    height:350px;
    object-fit:cover;
  }


.arrow{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #a19797;
}

.left{
  left: 20px;
}

.right{
  right: 20px;
}

/*Footer secn*/

.footer{
  margin-top:80px;
  padding:20px 50px;
}

.footer hr{
  border:none;
  border-top:1px solid #d9d9d9;
  margin-bottom:35px;
}

.footer-links{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
  align-items: center;
}

.footer-links span,
.footer-links a{
  font-size: 14px;
  color:#707072;
  text-decoration: none;
}

.footer-links a:hover{
  color:#111;
}

/*Login-page*/
.modal-overlay h1{
  color:rgb(99, 97, 97);
 
}
.modal-overlay{
  position: fixed;
  inset:0;
  background: rgba(0,0,0,0.55);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.login-modal{
  width:500px;
  background: white;
  border-radius:20px;
  padding:40px;
  position:relative;
  box-shadow:0 20px 50px rgba(0,0,0,0.25);
}

.close-btn{
  position:absolute;
  right: 20px;
  top:20px;
  border:none;
  background: none;
  font-size: 24px;
  cursor:pointer;
  color: black;
}



.login-logo{
  width:90px;
  margin-bottom: 20px;
}

.login-modal h1{
  font-size: 20px;
  margin-bottom:10px;
}

.login-modal p{
  color:#666;
}

.input-field{
  width:100%;
  padding:16px;
  margin-top:18px;
  border:1px solid #ddd;
  border-radius:10px;
  font-size: 16px;
  background-color: #d9d9d9;
  color: #000000;
}

.forgot{
  text-align: right;
  margin-top:10px;
}

.forgot a{
  color: #666;
  text-decoration:none;
}

.login-btn{
  width:100%;
  margin-top:20px;
  padding:5px;
  background: black;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size: 18px;
}

.divider{
  text-align:center;
  margin:20px 0;
  color:#888;
}

.google-btn{
  width:100%;
  padding:15px;
  border:1px solid #ddd;
  background: white;
  border-radius:10px;
  cursor:pointer;
  color: #000000;
}

.signup-text{
  text-align:center;
  margin-top:20px;
}