*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}
html,body{
   height:100vh;
   width:100vw;

}

main{
   height:100%;
   width:100%;
   display:flex;
   gap:5px;
   background-color:black;

.section1{
      background-image: url(ronaldo.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: red;
      border:2px solid black;
      flex-grow:1;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;


      h1{
         font-size:25px;
         color:white;
         text-decoration:underline;
          opacity: 0.5;
          font-family:'Times New Roman', Times, serif;
      }
h3{
                  font-size:10px;
                  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color:white;
                  opacity:0.5;

      }
      p{
         font-size:15px;
         color:black;
         background: rgba(220, 218, 218, 0.2);
         // opacity: 0.5;
         backdrop-filter: blur(8px);
         text-align:center;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         line-height:1.5;
         margin-top: auto;    
         text-align: center;
         
     
      }
}

.section2{
      background-image: url(paulomaldini.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: red;
      border:2px solid black;
      flex-grow:1;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;


      h1{
         font-size:25px;
         color:white;
         text-decoration:underline;
          opacity: 0.5;
          font-family:'Times New Roman', Times, serif;
      }
      h3{
                  font-size:10px;
                  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color:white;
                  opacity:0.5;
      }
      p{
         font-size:15px;
         color:white;
         background: rgba(220, 218, 218, 0.2);
         // opacity: 0.5;
         backdrop-filter: blur(8px);
         text-align:center;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         line-height:1.5;
         margin-top: auto;    
         text-align: center;
         
     
      }
}

.section3 {
      background-image: url(zlatan.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: red;
      border:2px solid black;
      flex-grow:1;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;


      h1{
         font-size:25px;
         color:white;
         text-decoration:underline;
          opacity: 0.5;
          font-family:'Times New Roman', Times, serif;
      }
h3{
                  font-size:10px;
                  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color:#01030a;
                  margin-top:200px;
                  text-align: center;
}
      p{
         font-size:15px;
         color:white;
         background: rgba(220, 218, 218, 0.2);
         // opacity: 0.5;
         backdrop-filter: blur(8px);
         text-align:center;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         line-height:1.5;
         margin-top: auto;    
         text-align: center;
         
     
      }
}

.section4{
      background-image: url(roberto.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: red;
      border:2px solid black;
      flex-grow:1;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;


      h1{
         font-size:25px;
         color:white;
         text-decoration:underline;
          opacity: 0.5;
          font-family:'Times New Roman', Times, serif;
      }
      h3{
                  font-size:10px;
                  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color:black;
                  opacity:0.5;                 
                   margin-top:240px;
                   text-align: center;

      }
     
      p{
         font-size:15px;
         color:black;
         background: rgba(220, 218, 218, 0.2);
         // opacity: 0.5;
         backdrop-filter: blur(8px);
         text-align:center;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         line-height:1.5;
         margin-top: auto;    
         text-align: center;
         
     
      }
}


.section5{
      background-image: url(messi.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: red;
      border:2px solid black;
      flex-grow:1;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;


      h1{
         font-size:25px;
         color:white;
         text-decoration:underline;
          opacity: 0.5;
          font-family:'Times New Roman', Times, serif;
      }

      h3{
                  font-size:10px;
                  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color:white;
                  opacity:0.5;}

      p{
         font-size:15px;
         color:white;
         background: rgba(220, 218, 218, 0.2);
         // opacity: 0.5;
         backdrop-filter: blur(8px);
         text-align:center;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         line-height:1.5;
         margin-top: auto;    
         text-align: center;
         
     
      }
}
   .section1:hover{
      flex-grow:7;

   }
      .section2:hover{
      flex-grow:15;

   }   .section3:hover{
      flex-grow:10;

   }   .section4:hover{
      flex-grow:9;

   }   .section5:hover{
      flex-grow:9;

  
}}